/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #35b8ff;
  --ifm-color-primary-dark: #00a6f2;
  --ifm-color-primary-darker: #009ce6;
  --ifm-color-primary-darkest: #0080bd;
  --ifm-color-primary-light: #66caff;
  --ifm-color-primary-lighter: #80d3ff;
  --ifm-color-primary-lightest: #b3eaff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability, please do not use non-standard CSS properties. */

/* Dark mode overrides. */
[data-theme='dark'] {
  --ifm-color-primary: #35b8ff;
  --ifm-color-primary-dark: #00a6f2;
  --ifm-color-primary-darker: #009ce6;
  --ifm-color-primary-darkest: #0080bd;
  --ifm-color-primary-light: #66caff;
  --ifm-color-primary-lighter: #80d3ff;
  --ifm-color-primary-lightest: #b3eaff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}